@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #413c58;
  --background: #9bbab2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #9bbab2;
    --background: #413c58;
  }
}

body {
  font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L",
    "Avant Garde", Futura, sans-serif;
  color: (var(--foreground));
  background: (var(--background));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
